<% content_for :title do %>My dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="gitlab" data-view="List" data-title="Ach last commit"</div>
    </li>
  </ul>
</div>
