<% content_for :title do %>My dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="gitlab" data-view="List" data-title="Ach last commit"</div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="github_gsb" data-view="List" data-title="Gsb last commit"</div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="rollbar" data-view="List" data-title="Rollbar errors"</div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sport" data-view="List" data-title="Sport - last week"</div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_bchess" data-view="List" data-title="Bchess last commit"</div>
    </li>
  </ul>
</div>
