<% content_for :title do %>My sport dashboard<% end %>
<div class="gridster">
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sport" data-view="List" data-title="Sport - last week"</div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="steam" data-view="List" data-title="Games last 2 weeks"</div>
    </li>
</div>
